# URL til Pestulus-backenden. Faller tilbake til http://localhost:8787 i koden
# hvis denne ikke er satt.
#
# På fysisk enhet (Expo Go) kan ikke "localhost" brukes, siden det da peker til
# enheten selv. Bruk PC-ens lokale nettverks-IP i stedet, f.eks.:
# EXPO_PUBLIC_API_URL=http://192.168.1.23:8787
EXPO_PUBLIC_API_URL=http://localhost:8787
